<div [class.burnout]="burnout">
  <app-title-bar class="title-bar" [score]="score" [stress]="stress"></app-title-bar>
  <app-burnout-bar *ngIf="burnout" class="burnout-bar"></app-burnout-bar>

  <div class="container" [class.burnout]="burnout" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start" fxHide.xs>
    <app-selfcare-list></app-selfcare-list>
    <app-factories-list [burnout]="burnout"></app-factories-list>
    <app-upgrades-list></app-upgrades-list>
  </div>

  <mat-tab-group mat-stretch-tabs class="container" [class.burnout]="burnout" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" dynamicHeight fxHide.gt-xs>
    <mat-tab label="self-care">
      <app-selfcare-list></app-selfcare-list>
    </mat-tab>
    <mat-tab label="side-hustles">
      <app-factories-list [burnout]="burnout"></app-factories-list>
    </mat-tab>
    <mat-tab label="upgrades">
      <app-upgrades-list></app-upgrades-list>
    </mat-tab>
  </mat-tab-group>
</div>


