<mat-toolbar>
  <span>{{title}}</span>
  <span class="spacer"></span>
  <span>score: {{countService.getCount() | number: '1.0-0'}}</span>
</mat-toolbar>
<app-get-button></app-get-button>
<mat-list class="factoriesList">
  <mat-list-item  *ngFor="let factory of factories">
    <button mat-flat-button color="primary" *ngIf="countService.getCount()>=factory.price"
            (click)="makePurchase(factory.production, factory.price)">
      {{factoriesPurchased[indexOfFactory(factory.title)]}} {{factory.title}} - £{{factory.price | number: '1.2-2'}}
    </button>
  </mat-list-item>
</mat-list>

<mat-list class="upgradesList">
  <mat-list-item  *ngFor="let upgrade of upgrades">
    <button mat-stroked-button color="primary"
            *ngIf="upgrade.purchased===false && factoriesPurchased[upgrade.target] >= upgrade.requiredLevel && countService.getCount()>=upgrade.price"
            (click)="upgradeFactory(upgrade.target, upgrade.price, upgrade.multiplier)">
      {{upgrade.title}} - £{{upgrade.price | number: '1.2-2'}}
    </button>
  </mat-list-item>
</mat-list>







