.title-bar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  margin-bottom: 10px;
}

.container {
  margin-top: 72px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.actionSection {
  flex-basis: auto;
}

.upgradeSection {
  flex-grow: 100;
}
