<div [class.burnout]="isBurnout()">
  <app-title-bar class="title-bar" [score]="getScore()" [stress]="getStress()"></app-title-bar>
  <app-burnout-bar *ngIf="isBurnout()" class="burnout-bar"></app-burnout-bar>

  <div class="container" [class.burnout]="isBurnout()" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start" fxHide.xs>
    <app-selfcare-list></app-selfcare-list>
    <app-factories-list [burnout]="isBurnout()"></app-factories-list>
    <app-upgrades-list></app-upgrades-list>
  </div>

  <mat-tab-group mat-stretch-tabs class="container" [class.burnout]="isBurnout()" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" dynamicHeight fxHide.gt-xs>
    <mat-tab label="self-care">
      <app-selfcare-list></app-selfcare-list>
    </mat-tab>
    <mat-tab label="side-hustles">
      <app-factories-list [burnout]="isBurnout()"></app-factories-list>
    </mat-tab>
    <mat-tab label="upgrades">
      <app-upgrades-list></app-upgrades-list>
    </mat-tab>
  </mat-tab-group>
</div>


