<ng-container *ngFor="let factory of factories">
  <mat-card class="factory-card" *ngIf="stageUnlocked(factory)">
    <mat-card-header>
      <mat-card-title>{{factory.title}}</mat-card-title>
      <mat-card-subtitle>owned: {{gameDataService.getAmountPurchased(factory)}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button color="primary" class="factory-button"
              [disabled]="gameDataService.getPrice(factory)>gameDataService.getScore()"
              (click)="gameDataService.recordFactoryPurchase(factory, 1); upgradeService.checkAvailability()"
      >buy - £{{gameDataService.getPrice(factory) | number: '1.2-2'}}</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
