<div fxLayout="column" fxLayoutAlign="start center">
  <mat-toolbar class="list-header" fxHide.xs>side hustles</mat-toolbar>

  <ng-container *ngFor="let factory of factories">
    <mat-card class="action-card" *ngIf="stageUnlocked(factory)">
      <mat-card-header>
        <mat-card-title class="factory-title">{{factory.title}}</mat-card-title>
        <mat-card-subtitle>hours worked: {{getHoursWorked(factory)}}</mat-card-subtitle>
        <mat-card-subtitle>moneys gained: £{{factory.baseProduction * getHoursWorked(factory) * getMultiplier(factory)}}/s</mat-card-subtitle>
        <mat-card-subtitle>stress increase: {{factory.baseProduction * getHoursWorked(factory)}}/s</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions class="card-actions">
        <button mat-button
                class="factory-button"
                [disabled]="isIncreaseDisabled()"
                (click)="changeHours(factory, 1)">work more</button>
        <button mat-button
                class="factory-button"
                [disabled]="isDecreaseDisabled(factory)"
                (click)="changeHours(factory, -1)">work less</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>

  <mat-card class="action-card">
    <mat-card-subtitle *ngIf="isFirstStageUnlocked() && !isBurnout(); else tooStressed">
      Available hours: {{getHoursAvailable()}}
    </mat-card-subtitle>
  </mat-card>

  <ng-template #tooStressed>
    <mat-card-subtitle>
      too stressed to work right now
    </mat-card-subtitle>
  </ng-template>
</div>


