<mat-toolbar>self-care</mat-toolbar>

<ng-container *ngFor="let stage of selfCareStages">
  <mat-card class="self-care-card" *ngIf="stageUnlocked(stage)">
    <mat-card-header>
      <mat-card-title>{{stage.title}}</mat-card-title>
      <mat-card-subtitle>reduce stress by: {{stage.power}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-progress-bar mode="determinate" [value]=timers[stage.title]></mat-progress-bar>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" class="self-care-button"
              [disabled]="timers[stage.title] > 0"
              (click)="gameDataService.reduceStress(stage.power); startTimer(stage.title, stage.timerSpeed)">
        {{stage.buttonText}}
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
