<mat-toolbar class="list-header">shopping therapy</mat-toolbar>

<ng-container *ngFor="let upgrade of upgrades">
  <mat-card class="action-card">
    <mat-card-header>
      <mat-card-title>{{upgrade.title}}</mat-card-title>
      <mat-card-subtitle>{{upgrade.title}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button class="action-button" mat-flat-button color="accent"
              [disabled]="upgrade.price>gameDataService.getScore()"
              (click)="buyUpgrade(upgrade)">
        upgrade - £{{upgrade.price | number: '1.2-2'}}
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
