<div fxLayout="column" fxLayoutAlign="start center">
  <mat-toolbar class="list-header" fxHide.xs>shopping therapy</mat-toolbar>

  <ng-container *ngFor="let upgrade of upgrades">
    <mat-card class="action-card">
      <mat-card-header>
        <mat-card-title>{{upgrade.title}}</mat-card-title>
        <mat-card-subtitle>{{upgrade.description}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button class="action-button" mat-flat-button color="accent"
                [disabled]="upgrade.price>gameDataService.getScore()"
                (click)="buyUpgrade(upgrade)">
          purchase - £{{upgrade.price | number: '1.2-2'}}
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>

