$soft-pink: (
  50 : #fff4f4,
  100 : #fee4e4,
  200 : #fdd2d2,
  300 : #fcbfbf,
  400 : #fcb2b2,
  500 : #fba4a4,
  600 : #fa9c9c,
  700 : #fa9292,
  800 : #f98989,
  900 : #f87878,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #fff8f8,
  contrast: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$soft-blue: (
  50 : #f2faff,
  100 : #def4ff,
  200 : #c9ecff,
  300 : #b3e4ff,
  400 : #a2dfff,
  500 : #92d9ff,
  600 : #8ad5ff,
  700 : #7fcfff,
  800 : #75caff,
  900 : #63c0ff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ecf7ff,
  contrast: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$soft-red: (
  50 : #ffeeee,
  100 : #fed4d4,
  200 : #fdb8b8,
  300 : #fc9c9c,
  400 : #fc8686,
  500 : #fb7171,
  600 : #fa6969,
  700 : #fa5e5e,
  800 : #f95454,
  900 : #f84242,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffe3e3,
  A700 : #ffc9c9,
  contrast: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
