@import "theme";

.title-bar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  margin-bottom: 10px;
}

.burnout-bar {
  position: fixed;
  left: 0;
  top: 64px;
  z-index: 99;
  width: 100%;
  text-align: center;
}

.burnout-warning {
  margin: 0 auto;
}

.container {
  margin-top: 72px;
  width: 100%;
}

.upgradeSection {
  flex-grow: 100;
}

.list-header {
  background-color: #fafafa;
}

.action-card {
  width: 280px;
  margin: 10px;
}

.action-button {
  width: 100%;
}

.factory-button {
  width: 49%
}

.factory-title {
  padding-bottom: 12px;
}
