@import '~@angular/material/theming';

@include mat-core();

$terraform-primary: mat-palette($mat-blue);
$terraform-accent:  mat-palette($mat-red);
$terraform-theme:   mat-light-theme($terraform-primary, $terraform-accent);

@include angular-material-theme($terraform-theme);

$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

    .terraform-dark-theme {
    @include angular-material-theme($dark-theme);
    }
